<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto&Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}
    {% endblock styles %}
    
    <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>
    <div id="{{pageId}}">
        
    {% block content %}
    {% endblock content %}

    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>