@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-home main {
        grid-template-columns: 1fr;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    .items-grid {
        display: grid;
        grid-template-columns:1fr;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40wh;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}